<h2>Income</h2>

<form method="post" action="" id="save_income">
  <fieldset>
    <div class="input_wrapper">
      <select id="income_name_1" name="income_name_1">
        <option value="salary">Salary</option>
        <option value="self-employment">Self-Employment</option>
        <option value="benefits">Benefits</option>
        <option value="pension">Pension</option>
        <option value="other">Other</option>
      </select>
      <input type="number" id="income_value_1" name="income_value_1" value="0" min="0">
      <select id="income_occurance_1" name="income_occurance_1">
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="fortnightly">Fortnightly</option>
        <option value="monthly">Monthly</option>
        <option value="quarterly">Quarterly</option>
        <option value="six-monthly">Every Six Months</option>
        <option value="yearly">Yearly</option>
      </select>
    </div>
  </fieldset>
  <a herf="#" class="add_input">+Add</a>
</form>
