<header>
  <h2>Income</h2>
  <p>Some of the things you may want to include: salary, self-employment, investments, pension and benefits.</p>
</header>

<form method="post" action="/income" id="save_income">
  <fieldset>
    <div class="input_wrapper">
      <dl>
        <dt>
          <label for="income_name_1">Income</label>
        </dt>
        <dd>
          <input type="text" id="income_name_1" name="income_name_1">
        </dd>
        <dt>
          <label for="income_amount_1">Amount</label>
        </dt>
        <dd>
          <input type="number" id="income_amount_1" name="income_amount_1" placeholder="0" min="0">
        </dd>
        <dt>
          <label for="income_occurance_1">Occurance</label>
        </dt>
        <dd>
          <select id="income_occurance_1" name="income_occurance_1">
            <option value="weekly">Weekly</option>
            <option value="fortnightly">Fortnightly</option>
            <option value="monthly">Monthly</option>
            <option value="quarterly">Quarterly</option>
            <option value="six-monthly">Every Six Months</option>
            <option value="yearly">Yearly</option>
          </select>
        </dd>
      </dl>
      <a href="#" class="delete"><img src="/images/bin.png"></img></a>
      <div class="dialog">
        <p>Are you sure you want to delete this?</p>
        <button type="button" class="confirm">Yes</button>
        <button type="button" class="cancel">No</button>
      </div>
      <div class="overlay"></div>
    </div>
    <a herf="#" class="add_input">+ Income</a>
  </fieldset>
  <button type="submit">Save</button>
</form>
