/* ===== CSS for all cell phones and shared cross-browser CSS ===== */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font: normal 20px "PT Sans", Helvetica, Arial, sans-serif;
  color: #3f3f3f;
  background: #ffffff;
  text-align: center;
  padding: 40px 0 80px;
}

main {
  padding: 0 10px;
}

main header {
  margin: 60px 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
  padding: 0 0 20px;
}

h3 {
  font-size: 28px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.flash {
  padding: 4px 0;
  margin: 60px auto 0;
  border-radius: 8px;
}

.error {
  color: #913b3b;
  background-color: #fbcdcd;
}

.success {
  color: #2f712f;
  background-color: #c6fcc6;
}

/* ===== Income And Expenses forms ===== */

#save_income,
#save_expenses {
  margin: 0 auto;
}

#save_income fieldset,
#save_expenses fieldset {
  margin: 40px 0 10px;
}

.input_wrapper {
  position: relative;
  background-color: #f8f8f8;
  padding: 10px;
  margin: 0 auto 20px;
  border: 1px solid #818181;
  border-radius: 10px;
}

#save_income .input_wrapper dt,
#save_income .input_wrapper dd,
#save_expenses .input_wrapper dt,
#save_expenses .input_wrapper dd {
  display: inline-block;
  width: 70%;
  margin: 0 0 10px;
  text-align: center;
}

#save_income .input_wrapper dt,
#save_expenses .input_wrapper dt {
  width: 25%;
  text-align: left;
}

.input_wrapper label,
.input_wrapper input {
  display: block;
  width: 100%;
  padding: 6px 8px;
}

.input_wrapper select {
  text-align: center;
  width: 60%;
  padding: 6px 8px;
}

.input_wrapper input,
.input_wrapper select,
#add_category input {
  font-size: 16px;
  border: 1px solid #dedddd;
  border-radius: 6px;
}

.input_wrapper input.invalid {
  border: 1px solid red;
}

#save_income button,
#save_income .add_input,
#save_expenses button,
#save_expenses .add_input,
#add_category button {
  display: block;
  font: inherit;
  background-color: #f0f0f0;
  width: 110px;
  padding: 6px;
  margin: 0 auto;
  border: 1px solid #afafaf;
  border-radius: 6px;
  cursor: pointer;
}

#save_income button,
#save_expenses fieldset ~ button {
  margin-top: 80px;
}

#save_income button:hover,
#save_income .add_input:hover,
#save_expenses button:hover,
#save_expenses .add_input:hover,
#add_category button:hover {
  background-color: #dedddd;
}

#save_income .delete img,
#save_expenses .delete img {
  width: 27px;
  height: 27px;
}

#save_income .delete,
#save_expenses .delete {
  position: absolute;
  top: 75%;
  right: 1%;
  cursor: pointer;
}

.dialog {
  display: none;
  width: 380px;
  padding: 40px 20px 20px;
  margin: 0 auto;
  border: 1px solid #dedddd;
  border-radius: 8px;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#save_income .dialog button,
#save_expenses .dialog button {
  display: inline-block;
  margin: 40px 20px;
}

.overlay {
  display: none;
  background-color: #000000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/* ===== Expense form */

#save_expenses .category_wrapper {
  display: none;
  padding: 20px 10px;
  margin: 0 0 40px;
  border: 1px solid #cfcfcf;
  border-radius: 12px;
}

#save_expenses fieldset ~ button {
  display: none;
}

#add_category input {
  vertical-align: middle;
  padding: 4px 8px;
  margin-right: 10px;
}

#add_category button {
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  padding: 1px 0;
}

.category_name {
  display: block;
  position: relative;
  margin: 0 0 30px;
}

.category_name input {
  display: none;
}

.category_name h3 {
  display: inline-block;
  margin: 0 40px 0 0;
}

#save_expenses .category_name .delete {
  position: relative;
  display: inline-block;
  vertical-align: sub;
}

/* ===== Adjustments for larger screens ===== */

@media screen and (min-width: 481px) {

}

@media screen and (min-width: 685px) {
  #save_income,
  #save_expenses,
  .flash {
    width: 90%;
  }

  #save_expenses .category_wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* #save_expenses .category_name .delete {
    right: 60%;
  } */
}

@media screen and (min-width: 961px) {
  #save_income .input_wrapper,
  #save_expenses .input_wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  #save_income .input_wrapper dt,
  #save_expenses .input_wrapper dt {
    width: 14%;
    text-align: center;
  }

  #save_income .input_wrapper dd,
  #save_expenses .input_wrapper dd {
    width: 18%;
    text-align: left;
  }

  #save_income .delete,
  #save_expenses .delete {
    top: 25%;
    right: 1%;
  }

  #save_expenses .category_wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  /* #save_expenses .category_name .delete {
    right: 70%;
  } */
}

@media screen and (min-width: 1501px) {
  #save_income,
  #save_expenses,
  .flash {
    width: 60%;
  }

  #save_expenses .category_wrapper {
    padding-left: 80px;
    padding-right: 80px;
  }

  /* #save_expenses .category_name .delete {
    right: 65%;
  } */
}
